* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container {
    width: 100%;
    height: 85vh;
}
footer {
    height: calc(100vh - 85vh)
}
/* FLEX */
.my-d-flex {
    display: flex;
}
.my-flex-direction {
    flex-direction: column;
}
.my-justify-center {
    justify-content: center;
}
.my-align-center {
    align-items: center;
}
/*DISPLAY*/

.none {
    display: none;
}
.block {
    display: block;
}
/*SIZE*/
/* Width */
.my-w-120 {
    width: 120px;
}
.my-w-200 {
    width: 200px;
}
.my-w-300 {
    width: 300px;
}
/* HEIGHT */
.my-h-120 {
    height: 120px;
}
.my-h-100 {
    height: 100%;
}
.my-h-300{
    height: 300px;
}
.option-left {
    width: 1800px;
    height: 100%;
    overflow-y: auto;
}
.results-right {
    width: calc(100% - 400px);
    height: 100%;
}
/*MARGIN*/
.my-margin-top-20 {
    margin-top: 20px;
}
/* PADDING */
.p-t-60 {
    padding-top: 60px;
}
.p {
    padding: 20px 20px 20px 20px;
}
/*BACKGROUND*/
#my-bg-linear {
    background-color: cornsilk;
}
.my-bg-color-footer {
    background-color: #00796B;
}

/*CARD*/
.container-card {
    margin: 10px 0 10px 0;
    background-color: rgb(248, 240, 240);
    border-radius: 20px;
    padding: 10px;
}
img {
    width: 100%;
    height: 100%;
}
/*FONT SIZE*/
#f-size-18 {
    font-size: 18px;
}

/* MEDIA QUERY */
